// fancybox
// @import '~@fancyapps/fancybox/dist/jquery.fancybox.css';

@import "utils/vars";

// Наш сайт
// @import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "layouts/main";
@import "components/icons";
@import "components/type-icon";
@import "components/input-check";
@import "components/input-radio";
@import "components/wrap-landing";
@import "components/landing-info";
@import "components/form-landing";
@import "components/social";
@import "components/popup";