/*-------------- form-pay -----------------*/
.form-pay-wrap{
	width: 100%;

	h1, .h1{
		text-align: center;
		margin-bottom: 5rem;
	}
}

.form-pay{
	width: 800px;
	max-width: 100%;
	padding: 55px;
	border-radius: 33px;
	background: #fff;
	margin: 0 auto;
}

.wrapper_light{
	.form-pay{background: #f8f8f8;}
}

@media (max-width: 991px) {
	.form-pay{padding: 20px 10px;}
}