/*-------------- form-landing -----------------*/
.form-landing{
	width: 100%;

	h1, .h1{
		text-align: center;
		margin-bottom: 10.8rem;

		img{
			display: inline-block;
			vertical-align: middle;
			margin: 0 14px 5px;
		}
	}

	&__text{
		@include font(none, none, 1.6rem, 1.4, var(--color-text));
		margin-bottom: 30px;

		.text-big{font-size: 2rem;}
	}

	&__wrap{
		display: flex;
		flex-direction: column;
		width: 464px;
		max-width: 100%;
		min-height: 555px;
		margin: 0 auto;
	}

	&__content{margin-bottom: 42px;}

	&__item{
		margin-bottom: 33px;
		position: relative;

		&.hide{display: none;}
	}

	&__item:last-child{margin-bottom: 0;}

	&__field{
		width: 100%;
		padding-top: 20px;
		position: relative;
	}

	&__label{
		display: block;
		@include font(none, 600, 1.6rem, 1.4, var(--color-text));
		position: absolute;
		top: 34px;
		transition: top 0.2s ease 0s, font-size 0.2s ease 0s;
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="time"],
	input[type="date"],
	textarea{
		display: flex;
		align-items: center;
		height: 4.8rem;
		width: 100%;
		font-family: var(--font-site);
		@include font(normal, normal, 1.8rem, 1, var(--color-text));
		padding: 0;
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid var(--color-text);
		outline: 0;
		margin: 0;
		background: transparent;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 16rem;
		line-height: 1.6;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-radius: 1.8rem;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="time"]:focus,
	input[type="date"]:focus,
	textarea:focus,
	input[type="text"]:not(:placeholder-shown),
	input[type="number"]:not(:placeholder-shown),
	input[type="email"]:not(:placeholder-shown),
	input[type="password"]:not(:placeholder-shown),
	input[type="time"]:not(:placeholder-shown),
	input[type="date"]:not(:placeholder-shown),
	textarea:not(:placeholder-shown){
		border-color: var(--color-primary);

		& ~ .form-landing__label{
			font-size: 1.4rem;
			top: 0;
		}
	}

	&__item.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		input[type="time"],
		input[type="date"],
		textarea{
			border-color: var(--color-danger);
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		input[type="time"]::placeholder,
		input[type="date"]::placeholder,
		textarea::placeholder{
			color: var(--color-danger);
		}
	}

	select{
		display: flex;
		align-items: center;
		height: 4.8rem;
		width: 100%;
		font-family: var(--font-site);
		@include font(normal, normal, 1.6rem, 1, var(--color-text));
		padding: 0;
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid var(--color-text);
		outline: 0;
		margin: 0;
		background: transparent;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	option{
		font-size: 1.6rem;
		line-height: 2;
		color: #000;
	}

	select:required:invalid{color: #3D4043;}
	option[value=""][disabled]{display: none;}

	&__radio-wrap{
		display: flex;
		gap: 10px;
		flex-shrink: 0;
		padding-right: 20px;
		padding-top: 20px;
		border-bottom: 1px solid var(--color-text);
	}

	&__field-complex{
		display: flex;
		justify-content: space-between;
	}

	&__field-complex &__field{display: none;}
	&__field-complex &__field.active{display: flex;}

	&__bottom{
		margin-top: auto;
		.btn{width: 100%;}
	}

	&__polit{
		margin-bottom: 10px;
		a{color: var(--color-text);}
	}

	&__note{
		@include font(none, none, 1.6rem, 1.4, var(--color-text));
		text-decoration: underline;
		text-align: center;
		margin-top: 20px;
		cursor: pointer;

		&:hover{text-decoration: none;}
	}
}

.form-landing-choose-list{
	display: flex;
	justify-content: center;
	gap: 44px;
	margin-top: 56px;
}

.form-landing-choose{
	height: 138px;
	width: 138px;

	input[type=radio]{display: none;}

	&__content{
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3px;
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 34px;
		background: #121212;
		transition: background-color 0.2s ease 0s;
		cursor: pointer;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 48px;

		.icon{
			max-height: 100%;
			transition: fill 0.2s ease 0s;
		}
	}

	&__label{
		@include font(none, none, 1.2rem, 1.4, none);
	}

	&:hover &__content,
	input[type=radio]:checked ~ &__content{
		background: var(--color-primary);
	}

	input[type=radio]:checked ~ &__content{cursor: auto;}
}

.wrapper_light{
	.form-landing-choose{
		background: #F8F8F8;

		&:hover,
		&.active{
			background: #FFA600;

			.icon{fill: #fff;}
		}
	}
}

.select{
	position: relative;

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		height: 4.8rem;
		border-bottom: 1px solid var(--color-text);
		padding: 0 20px;
		transition: border-color 0.2s ease 0s;
		cursor: pointer;
	}

	&__def{
		font-size: 1.6rem;
		line-height: 1.2;
		color: #3D4043;
	}

	&__val{
		font-size: 1.6rem;
		line-height: 1.2;
		color: var(--color-text);
	}

	

	&__label{
		@include font(none, 600, 1.4rem, 1.4, var(--color-text));
		margin-bottom: -11px;
	}

	&__field{
		margin-top: 47px;

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		input[type="time"],
		input[type="date"],
		textarea{
			display: flex;
			align-items: center;
			height: 4.8rem;
			width: 100%;
			font-family: var(--font-site);
			@include font(normal, normal, 1.8rem, 1, var(--color-text));
			padding: 0;
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid var(--color-text);
			outline: 0;
			margin: 0;
			background: transparent;
			box-shadow: none;
			transition: border 0.2s ease 0s;
		}
	
		input[type="text"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="password"]:focus,
		input[type="time"]:focus,
		input[type="date"]:focus,
		textarea:focus{
			border-color: var(--color-primary);
		}
	
		&__item.error{
			input[type="text"],
			input[type="number"],
			input[type="email"],
			input[type="password"],
			input[type="time"],
			input[type="date"],
			textarea{
				border-color: var(--color-danger);
			}
	
			input[type="text"]::placeholder,
			input[type="number"]::placeholder,
			input[type="email"]::placeholder,
			input[type="password"]::placeholder,
			input[type="time"]::placeholder,
			input[type="date"]::placeholder,
			textarea::placeholder{
				color: var(--color-danger);
			}
		}
	}

}

.select-popup{
	display: none;
	width: 100%;
	padding-top: 30px;

	&.active{display: block;}

	&__top{
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 10px;
	}

	&__title{
		@include font(none, none600, 1.6rem, 1.2, var(--color-text));
	}

	&__link{
		@include font(none, none, 1.4rem, 1.2, var(--color-danger));
		text-decoration: underline;
		cursor: pointer;

		&:hover{text-decoration: none;}
	}

	&__list{
		max-height: 300px;
		background: #121212;
		border-bottom: 1px solid var(--color-text);
		padding: 20px 24px;
		overflow-y: auto
	}

	&__item{
		@include font(none, none, 1.6rem, 1.4, var(--color-text));
	}

	&__next,
	&__prev{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		.icon{
			fill: var(--color-text);
			transition: all 0.2s ease 0s;
		}

		&:hover .icon{fill: var(--color-primary);}

		&.disable{cursor: auto;}

		&.disable .icon,
		&.disable:hover .icon{
			fill: #333A43;
		}
	}

	&__prev{left: -68px;}
	&__next{right: -68px;}
}

html[dir="rtl"]{
	.select-popup{
		&__next,
		&__prev{
			.icon{transform: rotate(180deg);}
		}

		&__prev{
			left: auto;
			right: -68px;
		}

		&__next{
			right: auto;
			left: -68px;
		}
	}
}


.wrapper_light{
	.select{
		&__def{color: #ccc;}
		&__list{background: #f8f8f8;}

		&__next,
		&__prev{
			.icon{fill: var(--color-primary);}
			&:hover{opacity: 0.6;}

			&.disable .icon,
			&.disable:hover .icon{
				fill: var(--color-primary);
			}

			&.disable,
			&.disable:hover{
				opacity: 0.4;
			}
		}
	}
}

.form-time-fields{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin-top: 20px;

	&__sep{
		flex-shrink: 0;
		@include font(none, 600, 7rem, 1, var(--color-text));
	}

	&__item{
		width: 50%;

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		input[type="time"],
		input[type="date"]{
			height: 9.6rem;
			font-size: 7rem;
			font-weight: 600;
			text-align: center;
		}
	}
}

@media (max-width: 767px) {
	.form-landing{
		h1, .h1{
			line-height: 1.1;
			text-align: initial;
			margin-bottom: 3.5rem;
		}

		&__label{display: none;}
		&__item{margin-bottom: 42px;}
	}

	.form-landing-choose-list{
		gap: 36px;
		margin-top: 60px;
	}

	.form-landing-choose{
		height: 120px;
		width: 120px;

		&__icon{
			height: 40px;

			.ic-credit-card{max-width: 35px;}
		}
	}

	.select{
		&__prev,
		&__next{
			.icon{
				width: 28px;
				height: 28px;
			}
		}

		&__prev{left: -14px;}
		&__next{right: -14px;}
		&__field{margin-top: 30px;}
	}

	.form-time-fields{
		&__item{
			input[type="text"],
			input[type="email"],
			input[type="number"],
			input[type="password"],
			input[type="time"],
			input[type="date"]{
				font-size: 6rem;
			}
		}
	}

	
	html[dir="rtl"]{
		.select{
			&__prev{
				left: auto;
				right: -14px;
			}

			&__next{
				right: auto;
				left: -14px;
			}
		}
	}
}