/*-------------- input-check -----------------*/
.input-check{
	display: inline-flex;
	align-items: center;
	gap: 12px;
	@include font(none, none, 1.6rem, 1.4, var(--color-text));
	margin: 0;
	position: relative;
	transition: color 0.2s ease 0s;

	input[type=checkbox]{display: none;}

	&__mark{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		border: 1px solid var(--color-text);
		position: relative;
		cursor: pointer;

		.icon{
			display: none;
			position: absolute;
			fill: var(--color-bg);
			@include top-center;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}

	&__text{
		u{cursor: pointer;}
		u:hover{text-decoration: none;}
	}

	input[type=checkbox]:checked ~ &__mark{background: var(--color-text);}
	input[type=checkbox]:checked ~ &__mark .icon{display: inline-block;}
}