/*-------------- input-radio -----------------*/
.input-radio{
	display: inline-flex;
	align-items: center;
	gap: 12px;
	@include font(none, 600, 1.4rem, 1.4, none);
	margin: 0;
	position: relative;
	cursor: pointer;
	transition: color 0.2s ease 0s;

	input[type=radio]{display: none;}

	&__mark{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		flex-shrink: 0;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid var(--color-text);
		position: relative;

		&::after{
			content: '';
			display: none;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: var(--color-primary);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	input[type=radio]:checked ~ &__mark{border-color: var(--color-primary);}
	input[type=radio]:checked ~ &__mark::after{display: inline-block;}
}