/*-------------- wrap-landing -----------------*/
.wrap-landing{
	display: flex;
	min-height: 100vh;
	position: relative;

	&.hide{display: none;}

	&__main{
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 105px 40px;
		position: relative;
	}

	&__logo{
		position: absolute;
		bottom: 40px;
		right: 57px;
	}

	.btn-back{
		position: absolute;
		top: 50px;
		left: 48px;
	}
}

html[dir="rtl"]{
	.wrap-landing{
		&__logo{
			right: auto;
			left: 57px;
		}
	}

	.btn-back{
		left: auto;
		right: 48px;
	}
}

@media (max-width: 1279px) {
	.wrap-landing{
		&__main{
			width: 50%;
			padding: 50px 30px;
		}
	}
}

@media (max-width: 991px) {
	.wrap-landing{
		flex-direction: column-reverse;

		&__main{width: 100%;}
		&__logo{bottom: 20px;}

		.btn-back{
			position: static;
			align-self: flex-start;
		}
	}
}

@media (max-width: 767px) {
	.wrap-landing{
		&__main{padding: 40px 30px;}
		&__logo{right: 30px;}
		.btn-back{margin-bottom: 30px;}
	}

	html[dir="rtl"]{
		.wrap-landing{
			&__logo{
				right: auto;
				left: 30px;
			}
		}
	}
}