extends ../layout/main

block variables
	- var title = 'Project';

block content
	.wrap-landing
		.landing-info
			.landing-info__logo
				img(src="assets/img/logo.png", alt="")
			
			.landing-info__text
				h2 קצת עלינו

				p כמו כל רשת, התחלנו בקטן<span class="space"></span>. פתחנו את הסניף הראשון שלנו בירושלים<span class="space"></span>, אי-שם בשנת 2004, במטרה להביא את המטבח האסייתי המהיר והכשר אל קדמת הבמה.
				p היום<span class="space"></span>, עם 16 סניפים ברחבי הארץ ועוד מסעדות חדשות אשר עושות את דרכן לפתיחה, אנחנו יכולים להגיד שאנחנו בדרך הנכונה.
				p נעים מאוד - JAPAN JAPAN – ווק אנד סושי
				p רשת מסעדות כשרה על טהרת התפריט האסייתי – יפני-סיני-תאילנדי  עם השפעות ממטבחים נוספים מהמזרח הרחוק. יותר מ-80 מנות שעושות כבוד למקור, מחומרי הגלם היקרים והאיכותיים ביותר בייבוא מיוחד ובהכנה במקום מהנודלס ועד הרטבים המיוחדים.
				p וכן, הכול טרי. תמיד.
				p סיירת הסושימנים וצוות הטבחים שלנו מחכים להזמנה שלכם מהמטבח לשולחן,עם שליח לבית ולמשרד או באיסוף עצמי.האתר והאפליקציה שלנו שם בדיוק בשביל זה, איך שנוח לכם.המנות ימצאו
					br
					| את דרכן אליכם.


			.social
				.social__item
					+svg('ic-business','ic-business', '26', '26')
					
				.social__item
					+svg('ic-instagram','ic-instagram', '26', '26')
					
				.social__item
					+svg('ic-bookmark','ic-bookmark', '26', '26')

				.social__item
					+svg('ic-facebook','ic-facebook', '26', '26')

				.social__item
					+svg('ic-youtube','ic-youtube', '26', '26')

		.wrap-landing__main
			.form-landing
				h1 אז את מי מפנקים היום?
					img(src="assets/img/smile-like.png", alt="")

				.form-landing__wrap
					.form-landing__content
						.form-landing__item
							.form-landing__field
								input(type="text", id="name", name="name", placeholder="")
								label(for="name").form-landing__label שם מלא

						.form-landing__item
							.form-landing__field-complex
								.form-landing__field.active.js-choose-field(data-val="phone")
									input(type="text", id="phone", name="phone", placeholder="")
									label(for="phone").form-landing__label טלפון

								.form-landing__field.js-choose-field(data-val="email")
									input(type="email", id="email", name="email", placeholder="")
									label(for="email").form-landing__label אימייל

								.form-landing__radio-wrap
									label.input-radio
										input.js-choose-radio(type='radio', name="radio", checked="checked", value="phone")
										span.input-radio__mark
										span.input-radio__text טלפון

									label.input-radio
										input.js-choose-radio(type='radio', name="radio", value="email")
										span.input-radio__mark
										span.input-radio__text אימייל

						.form-landing__item
							.form-landing__field
								input(type="text", placeholder="", id="price", name="price")
								label(for="price").form-landing__label סכום לפינוק

						.form-landing-choose-list
							label.form-landing-choose
								input(type="radio", name="choose-pay", value="gift")

								.form-landing-choose__content
									.form-landing-choose__icon
										+svg('ic-gift','ic-gift', '48', '48')

									.form-landing-choose__label כרטיס מתנה

							label.form-landing-choose
								input(type="radio", name="choose-pay", value="card")
								.form-landing-choose__content
									.form-landing-choose__icon
										+svg('ic-credit-card','ic-credit-card', '43', '35')

									.form-landing-choose__label כרטיס נטען

					.form-landing__bottom
						.form-landing__polit
							label.input-check
								input(type='checkbox')
								span.input-check__mark
									+svg('ic-tick','ic-tick', '8', '6')
								span.input-check__text קראתי ואני מאשר את 
									u.js-open-popup תנאי השימוש


						input.btn(type="sumbit", value="המשך", disabled="disabled")

		.wrap-landing__logo
			img(src="assets/img/atmos.svg", alt="")

	.popup-wrap.js-popup
		.popup
			.popup__close.js-close-popup
				+svg('ic-close','ic-close', '18', '18')

			.popup__content
				h2 תנאי השימוש

				p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק.להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.מוסן מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.לורם איפסום דולור סיט אמט, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק.להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.מוסן מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. לורם איפסום דולור
