extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'landing-validated.html',name:'Landing - Validated'},
			{href: 'landing-validated-light.html',name:'Landing - Validated Light version'},
			{href: 'terms.html',name:'Terms'},
			{href: 'landing.html',name:'Landing'},
			{href: 'landing2.html',name:'Landing 2'},
			{href: 'celebration-type.html',name:'Celebration Type'},
			{href: 'celebration-type-validated.html',name:'Celebration Type - Validatede'},
			{href: 'picture-maybe.html',name:'Picture maybe?'},
			{href: 'picture-yes.html',name:'Picture! Yes!'},
			{href: 'send-now.html',name:'Send now'},
			{href: 'schedule.html',name:'Schedule'},
			{href: 'payment.html',name:'Payment'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section(style="padding: 20px")
		h1 Content
		ul
			each page in pagelist
				li
					a(href=page.href, target="_blank")= page.name


