extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'landing-validated.html',name:'Landing - Validated'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section(style="padding: 20px")
		h1 Content
		ul
			each page in pagelist
				li
					a(href=page.href,)= page.name


