extends ../layout/main

block variables
	- var title = 'Schedule';

block content
	.wrap-landing
		.landing-info
			.landing-info__logo
				img(src="assets/img/logo.png", alt="")
			
			.landing-info__text
				h2 קצת עלינו

				p כמו כל רשת, התחלנו בקטן<span class="space"></span>. פתחנו את הסניף הראשון שלנו בירושלים<span class="space"></span>, אי-שם בשנת 2004, במטרה להביא את המטבח האסייתי המהיר והכשר אל קדמת הבמה.
				p היום<span class="space"></span>, עם 16 סניפים ברחבי הארץ ועוד מסעדות חדשות אשר עושות את דרכן לפתיחה, אנחנו יכולים להגיד שאנחנו בדרך הנכונה.
				p נעים מאוד - JAPAN JAPAN – ווק אנד סושי
				p רשת מסעדות כשרה על טהרת התפריט האסייתי – יפני-סיני-תאילנדי  עם השפעות ממטבחים נוספים מהמזרח הרחוק. יותר מ-80 מנות שעושות כבוד למקור, מחומרי הגלם היקרים והאיכותיים ביותר בייבוא מיוחד ובהכנה במקום מהנודלס ועד הרטבים המיוחדים.
				p וכן, הכול טרי. תמיד.
				p סיירת הסושימנים וצוות הטבחים שלנו מחכים להזמנה שלכם מהמטבח לשולחן,עם שליח לבית ולמשרד או באיסוף עצמי.האתר והאפליקציה שלנו שם בדיוק בשביל זה, איך שנוח לכם.המנות ימצאו
					br
					| את דרכן אליכם.


			.social
				.social__item
					+svg('ic-business','ic-business', '26', '26')
					
				.social__item
					+svg('ic-instagram','ic-instagram', '26', '26')
					
				.social__item
					+svg('ic-bookmark','ic-bookmark', '26', '26')

				.social__item
					+svg('ic-facebook','ic-facebook', '26', '26')

				.social__item
					+svg('ic-youtube','ic-youtube', '26', '26')

		.wrap-landing__main
			.btn-back
				+svg('ic-arrow-left','ic-arrow-left', '22', '21')
				| אחורה
			
			.form-landing
				h1 מתי לשלוח?

				.form-landing__wrap
					.form-landing__content
						.form-landing__item
							.form-landing__field
								.select
									.select__top
										.select__val מחר 31/02/2024
										.select__arr
											+svg('ic-arrow-down','ic-arrow-down', '10', '7')

						.form-landing__item
							.form-landing__label.d-md-block בשעה

							.form-time-fields
								.form-time-fields__item
									input(type="text", value="30")

								.form-time-fields__sep :
								
								.form-time-fields__item
									input(type="text", value="20")

						
					.form-landing__bottom
						input.btn(type="sumbit", value="המשך")

		.wrap-landing__logo
			img(src="assets/img/atmos.svg", alt="")