/* PloniMLv2AAA */
@font-face {
	font-family: 'PloniMLv2AAA';
	src: local('PloniMLv2AAA Regular'), local('PloniMLv2AAA-Regular'),
		url('#{$path-fonts}/ploni/plonimlv2aaa-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('#{$path-fonts}/ploni/plonimlv2aaa-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PloniMLv2AAA';
	src: local('PloniMLv2AAA Medium'), local('PloniMLv2AAA-Medium'),
		url('#{$path-fonts}/ploni/plonimlv2aaa-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('#{$path-fonts}/ploni/plonimlv2aaa-medium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PloniMLv2AAA';
	src: local('PloniMLv2AAA Black'), local('PloniMLv2AAA-Black'),
		url('#{$path-fonts}/ploni/plonimlv2aaa-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('#{$path-fonts}/ploni/plonimlv2aaa-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}