:root{
	--font-site: 'PloniMLv2AAA', Arial, sans-serif;
	--color-primary: #D3AE6E;
	// --color-primary-hover: #c56205;
	// --color-primary-disable: rgba(255, 122, 0, 0.18);
	--color-text: #fff;
	--color-bg: #000;
	--color-danger: #E05353;
}


html,
body{
	background: #fff;
	font-family: var(--font-site);
	@include font(normal, normal, 10px, 1.45, var(--color-text));
	box-sizing: border-box;
}

body{font-size: 2.2rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
	scrollbar-width: thin;
}


img{max-width: 100%;}

a{
	color: var(--color-primary);
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	// margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.4;
	font-weight: 900;
	color: var(--color-text);
}

h1,.h1{
	font-size: 4.7rem;
	margin-bottom: 5rem;
}

h2,.h2{
	font-size: 4.7rem;
	margin-bottom: 3.4rem;
}

h3,.h3{
	font-size: 3.6rem;
	margin-bottom: 4rem;
}

h4,.h4{
	font-size: 3rem;
	margin-bottom: 3rem;
}

h5,.h5{
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

main{
	height: 100%;
	overflow-y: auto;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 4.8rem;
	background: linear-gradient(to right, rgba(242,224,121,1) 0%, rgba(211,174,110,1) 50%, rgba(211,174,110,1) 100%);
	background-size: 200% auto;
	border: none;
	border-radius: 8px;
	outline: none;
	@include font(normal, 600, 1.5rem, 1.2, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 20px;
	cursor: pointer;
	transition: all 0.2s ease 0s;

	.icon{
		flex-shrink: 0;
		fill: #fff;
		transition: fill 0.2s ease 0s;
	}

	&:hover{
		color: #fff;
		background-position: right center;
	}
	
	&.disable,
	&[disabled]{
		opacity: 0.2;
		cursor: auto;
	}

	&_border{
		background: transparent;
		border: 1px solid var(--color-primary);

		&:hover{background: var(--color-primary);}
	}
}

.btn-back{
	display: none;
	height: 5.6rem;
	background: #292D32;
	border: none;
	border-radius: 2.8rem;
	outline: none;
	@include font(normal, 600, 1.5rem, 1.2, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 30px;
	cursor: pointer;
	transition: all 0.2s ease 0s;

	&:hover{background: var(--color-primary);}

	&.active{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
	}
}

.space{
	display: inline-block;
	width: 2px;
	white-space: nowrap;
}

html[dir="rtl"]{
	.ic-arrow-left{transform: rotate(180deg);}
}

.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: var(--color-bg);

	&_light{
		--color-primary: #C6102E;
		--color-text: #000;
		--color-bg: #fff;

		.btn,
		input[type="submit"].btn,
		button.btn{
			background: linear-gradient(to right, rgba(198, 16, 46,1) 0%, rgb(160, 12, 37) 50%, rgba(198, 16, 46,1) 100%);
			background-size: 200% auto;

			&:hover{background-position: right center;}
		}

		.btn-back{
			background: #F8F8F8;
			color: #000;

			.icon{transition: all 0.2s ease 0s;}

			&:hover{
				background: var(--color-primary);
				color: #fff;

				.icon{fill: #fff;}
			}
		}
	}

	::-webkit-scrollbar-button {
		width:8px;
		height:0px
	}
	
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: #838383;
	}
	
	::-webkit-scrollbar-track{background-color:#dedede}
	::-webkit-scrollbar{width: 8px; height: 8px;}
}

@media (max-width: 767px) {
	body{
		font-size: 1.6rem;
		line-height: 1.4;
	}

	h1,.h1{
		font-size: 4rem;
		margin-bottom: 3.5rem;
	}
	
	h2,.h2{
		font-size: 4rem;
		margin-bottom: 2rem;
	}

	.btn-back{
		height: 4.2rem;
		border-radius: 2.8rem;
		font-size: 1.1rem;

		.icon{
			width: 10px;
			height: 10px;
		}
	}

	.d-md-block{display: block!important;}
	
	// h3,.h3{
	// 	font-size: 3.6rem;
	// 	margin-bottom: 4rem;
	// }
	
	// h4,.h4{
	// 	font-size: 3rem;
	// 	margin-bottom: 3rem;
	// }
	
	// h5,.h5{
	// 	font-size: 2.4rem;
	// 	margin-bottom: 2rem;
	// }
	
}